<head>
    <link rel="stylesheet" href="/stylesheets/templates/answer-choice-row.css">
</head>

<body>
    <label for="choice<%= choiceNum %>" class="answer-choice-text"> Answer Choice #<%= choiceNum %></label>
    <div class="answer-choice-row">
        <input class="answer-choice-input" type="text" id="choice<%= choiceNum %>" required>
        <input class="answer-choice-radio" type="radio" id="choice<%= choiceNum %>-radio" name="answer-choices" value="<%= choiceNum %>">
    </div>
</body>


