<% if (link) { %>
    <div class="nav-row <%= navClass %>" id=<%= id %> onclick="window.location='<%=link %>';">
<% } else { %>
    <div class="nav-row <%= navClass %>" id=<%= id %> >
<% } %>
        <img class="nav-row-icon" src=<%= imgSrc %> />
        <a class="nav-row-text"> <%= title %> </a>
    </div>