<head>
    <link rel="stylesheet" href="/stylesheets/templates/team-member.css">
</head>

<div class="team-member">
    <img class="team-member-image" src="/images/team/<%= teamMemberPic %>" alt="<%= teamMemberName %> image" />
    <div class="team-member-name">
        <%= teamMemberName %>
    </div>
    <div class="team-member-title">
        <%= teamMemberTitle %>
    </div>

    <div class="team-member-role">
        <%= teamMemberRole %>
    </div>
</div>