<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/modal.css">
    <link rel="stylesheet" href="/stylesheets/questions.css">
    <link rel="stylesheet" href="/stylesheets/alert.css">
    <script>
        var unitID = "<%= unitID %>";
        var baseApiUrl = "<%= baseAPIUrl %>";
    </script>
    <script type='module' src='/javascripts/questions.js'></script>
</head>

<body>
    <div class="teacher-platform-main">
        <%- include('../templates/nav-bar', {activeTab: 'question'}); %>
        <div class="questions-main">
            <div class="alert alert-danger alert-inactive">
                <!-- This will be filled by questions.js on delete FAIL -->
            </div>

            <%- include('../templates/back-nav', {navText: 'All Units', link: '/' }); %>
            <%- include('../templates/title-with-desc', {title: 'Update Questions', 
                    desc: 'Add or delete questions using the corresponding icons. Modify a question by clicking on it.'}); %>

            <div class="questions-title">
                <%= unit %> - Question Bank
            </div>

            <div class="add-question" onclick="window.location='/<%= unit %>/<%= unitID %>/add-question';">
                <img class="add-question-icon" src="/images/plus-icon.png">
                <div class="add-question-text">Add a question</div>
            </div>

            <div class="question-progress-description">
                The percent at the right of each question row is the percentage of students who answered that question <b>correctly</b>.
            </div>

            <div class="questions-body">
                <!-- rendered by questions.js -->
            </div>

            <div id="confirmDeleteModal" class="modal">
                <div class="modal-content">
                    <span id="close-delete-modal" class="close">&times;</span>
                    <div class="delete-confirmation-text">Are you sure you want to delete this question?</div>
                    <div class="confirm-delete-buttons">
                        <button id="confirm-delete" class="confirm-delete-button">Confirm</button>
                        <button id="cancel-delete" class="cancel-delete-button">Cancel</button>
                    </div>
                </div>
            
            </div>

        </div>
    </div>

</body>

</html>